# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.*
!.env.example

# Config secrets
telegram-config.json

# User Uploads & Temporary Assets
uploads/*
!uploads/.gitkeep

# Temporary / Backup folders & files
/backup_v1_before_new_features
/src_bk
.temp
.tmp
*.txt
!README.md
